.logo{
width: 156px;
height: 40px;
padding: 10px;
background-color: #4B0B0B;
margin: 0px 40px 20px;
display: flex;

align-items: center;
justify-content: center;
    border-radius: 10px;


}
.card{
    background-color: bisque;
}
.bg{
    background-color: bisque;
    padding: 50px 30px;
    margin: 50px;
}
.input{
    padding: 5px;
    border-radius: 10px 10px;
    margin: 10px;
}

.b{
    padding: 5px;
    border-radius: 10px 10px;
    margin-left: 40px;
    background-color: #4B0B0B;
    color: aliceblue;
    margin-top: 40px;
}

.login{
    background-color: green;
    color: white;
    border-radius: 10px;
    outline: none;
    width: 50%;
    text-align: center;
    justify-content:center
 ;
 display: flex;
 flex-direction: row;
 margin: 0px 50px;
}
